.profile__add-btn {
  width: 150px;
  height: 50px;
  background: transparent url('../../../images/add-btn.png') center no-repeat;
  border-radius: 2px;
  background-size: 22px;
}

.profile__add-btn:hover {
  opacity: .6;
}