.card__delete-btn {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 20px;
  background: transparent url('../../../images/trash-icon.svg') center no-repeat;
  border: none;
}

.card__delete-btn:hover {
  opacity: .7;
}