.card__image {
  height: 282px;
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px 10px 0 0;
}