.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  background-size: cover;
  border-radius: 0;
  padding: 0;

}